body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

*,
*:before,
*:after{
    box-sizing:border-box ;
    place-content: center;
}

.container{

    margin-right: auto;
    margin-left: auto;
}

@media (max-width:1280px ){
    .container{
        width: 1260px;
    }
}
@media (max-width:1200px ){
    .container{
        width: 1140px;
    }
}
@media (max-width:992px ){
    .container{
        width: 970px;
    }
}
@media (max-width:768px ){
    .container{
        width: 750px;
    }
}

.main{
    display: flex;
}

.basis{
   /* background-color: aqua; */
    display: flex;

}

div.letop{
    display: flex;
    justify-content: center;
    
}

.inletop{
    border:2px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 20px;
    
}

h1.letop{
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

img.letop{
    height: 37px;
    width: 49px;
}

div.menu{
    display:flex;
    align-items: center;

}

div.inmenu{
    display:flex;
    align-items: center;

}

div.lowmenu-low{
    display: flex;
    justify-content: space-around;

}
div.tele{
    background: #000;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    min-height: 54px;
    width: 50%;

}

div.last::after{
    content: '';
    background-color: #626262;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: -25px;
    right:0px;
    z-index: -1;
}

div.telebus{

    border-radius: 0px 25px 0px 0px  ;
}

div.tele a{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

ul.menu{
    display: flex;
    justify-content: space-between;
}

ul.menu li{
    display:flex;
    align-items: center;
    font-weight: bold;
    padding: 5px 8px;
}

.menu li a{
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
 
}

div.logo{
    background-color: #f7b000;
    border-radius: 0px 0px 0px 25px  ;

}

div.logo::before{
    content: '';
    background-color: black;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0px;
    left: 0;
    z-index: -1;
}


.lowmenu-top{
    display: flex;
    justify-content: space-between;

}

.topmenu{
    background: #626262;
    padding: 10px 20px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    position: relative;
    min-height: 75px;

}

.topmenu:hover{
    background-color: red;
}

.topmenu div{
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
}

.last h1{
    color: #fff;

}

.last{
    display: flex;
}

.last img{
    max-width: 100%;
    width: 32px;
    height: 32;
}

.menu li a::after{
    position: absolute;
    content: " ";
    height: 80%;
    border-right: 2px solid #f7b000;
    display: inline-block;
    right: -10px;

}
 .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4px;
} 
.product{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    width: 29%;
    height: auto;
    padding-right: 10px; 
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
}
.product:hover{
    display:grid;
    border-width: 2px;                      
    border-radius: 30px 3px 30px;
    border-color: lightgrey;
    border-style: solid;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 8px;
}
.kopen{
    background-color: darkblue;
    align-content: right;
    color: white;
    font-size: 20px;
    padding: 3px 6px;
    border-radius:6px;
}
.kopen:hover{
    background-color: #f7b000;
}
.prijs{
    font-size: 25px;
}
.acc_img{
margin-top: 10px;
}
img{
vertical-align: middle;
}
.sort{  
    margin: 15px 20px 50px 100px;
    position: sticky;
    border-style: solid;
    background-color: #2196F3;
}
.phone_brand_wrapper{
    color: black;
}
.merk_label{
    display: block; 
    position: relative; 
    padding-left: 45px;
    margin-bottom: 12px;
    overflow: visible;
    padding-right: 14px;
    border: black;
    border-width: 2px;
}

.merk_label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
 .check{
    position: absolute;
    top: 0;
    left: -15px;
    height: 25px;
    width: 50px;
    background-color: white;
    border-radius: 16px;
    border-color: #000;
} 
.opties{
    padding-left: 10px;
    padding-bottom: 25px;
}
.menu-sort{
    background-size: 25%;
    border: 2px solid black;
    padding-top: 0px;
    background-color: #2196F3;
    border-radius: 17px;
}

.phone_brand_wrapper{
    font-size: 20px;
    border: 2px #000;
}
.merk_label:hover input ~ .check {
    background-color: #ccc;
    border: 2px black;
}

.merk_label input:checked ~ .check{
    background-color: #1263a6;
    border:2px #000;
}

.check:after {
    content: "";
    position: absolute;
    display: none;
    border: 2px black;
}


.sort .check:after {
    display: block;
    top: 9px;
   left: 9;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: #2196F3;
}

.sort input:checked ~ .check:after {
    display: block;
    top: 9px;
    left: 9;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.mySlides {
  display: grid;
  width:50%;
  margin-left: auto;
  margin-right: auto; 
}
img {vertical-align: middle;}
  /* Slideshow container */
.slideshow-container {
  display:grid;
  max-width: 650px;
  position: relative;
  margin: 0%;
  border-width: 3px;
  border-radius: 3px 3px 30px; 
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
  padding-top:20px;
}
  /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
  /* Caption text */
.text {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:2;
  grid-row-end: 3;
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 75%;
  margin: 0%;
}
.toev-winkmnd{
    padding-top: 150px;
    padding-right: 100px;
}
.ondr-wmnd{
    color: red;
}
  /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

  /* Fading animation */
.fade {
animation-name: fade;
animation-duration: 0.5s;
}
.column {
float: left;
width: 16.66%;
}
.winkelmand {
font-size:20px;
background-color:lightgreen;
border:3px;
border-radius: 12px;
padding: 10px 20px;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}